<p>admin-course works!</p>
<div>
    <div>
      <i class="fa fa-file-pdf-o" (click)="handleOpenPDF()"></i>
      <h3 (click)="handleOpenPDF()">{{ course.name }}</h3>
    </div>
    <div>
      <ng-container *ngIf="isEditMode; else displayMode">
        <div>
          <form>
            <!-- <input type="text" [(ngModel)]="updatedName" placeholder="Enter updated name" /> -->
            <!-- <input type="file" accept="application/pdf" (change)="updatedFile = $event.target.file[0]" /> -->
            <button type="button" (click)="handleUpdate()">Submit</button>
            <button type="button" (click)="isEditMode = false">Cancel</button>
          </form>
        </div>
      </ng-container>
      <ng-template #displayMode>
        <button type="button" (click)="isEditMode = true">Update</button>
      </ng-template>
      <button type="button" (click)="handleDelete()">Delete</button>
    </div>
  </div>
  