<tr class="border-b hover:bg-orange-100 bg-gray-100">
    <td class="p-3 px-5">{{ info.email }}</td>
    <td class="p-3 px-5">{{ userClass.name }}</td>
    <td class="p-3 px-5 flex justify-end">
      <button
        type="button"
        class="mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
        (click)="onAccept()"
      >
        Accept
      </button>
      <button
        type="button"
        class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
        (click)="onReset()"
      >
        Reject
      </button>
    </td>
  </tr>