<app-user-nav-bar></app-user-nav-bar>
<div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg" style="position: absolute; left: 550px; top: 150px;">
  <h2 class="text-2xl font-semibold text-center mb-6">Todo List</h2>
  <div class="flex items-center">
    <input [(ngModel)]="todoInput" type="text" placeholder="Add a new todo"
      class="p-2 text-lg border border-gray-300 rounded-l-lg w-full" />
    <button (click)="addTodo()"
      class="bg-orange-500 text-white font-semibold p-2 px-4 rounded-r-lg cursor-pointer text-lg hover:bg-orange-600">
      Add
    </button>
  </div>
  <ul class="list-none text-center mt-6">
    <li *ngFor="let todo of todos; let i = index"
      class="flex justify-between items-center border border-gray-300 p-4 mb-4 rounded-lg">
      <span class="text-xl">{{ todo }}</span>
      <button (click)="removeTodo(i)"
        class="bg-red-500 text-white p-2 rounded-lg cursor-pointer text-lg hover:bg-red-600">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</div>





<!-- <div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg" style="position: absolute; left: 750px; top: 150px;">
    <h2 class="text-2xl font-semibold text-center mb-6">Todo List</h2>
    <div class="flex items-center">
      <input
        type="text"
        [(ngModel)]="todoInput"
        placeholder="Add a new todo"
        class="p-2 text-lg border border-gray-300 rounded-l-lg w-full"
      />
      <button (click)="addTodo()" class="bg-orange-500 text-white font-semibold p-2 px-4 rounded-r-lg cursor-pointer text-lg hover:bg-orange-600">
        Add
      </button>
    </div>
    <ul class="list-none text-center mt-6">
      <li *ngFor="let todo of todos; let i = index" class="flex justify-between items-center border border-gray-300 p-4 mb-4 rounded-lg">
        <span class="text-xl">{{ todo }}</span>
        <button (click)="removeTodo(i)" class="bg-red-500 text-white p-2 rounded-lg cursor-pointer text-lg hover:bg-red-600">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div> -->