<!-- <app-sidebar [style.background-color]="'#F9FAFB'">
  <app-sidebar-items [style.background-color]="'white'">
    <app-sidebar-item-group [style.background-color]="'white'">
      <a [routerLink]="homeRoute">
        <div>
          <app-sidebar-item>
            <p [style.color]="'black'" [style.font-size.px]="20">
              Home
            </p>
          </app-sidebar-item>
        </div>
      </a>
      <a [routerLink]="usersRoute">
        <div>
          <app-sidebar-item>
            <span [style.color]="'black'" [style.font-size.px]="20">
              Users
            </span>
          </app-sidebar-item>
        </div>
      </a>
      <a [routerLink]="classesRoute">
        <div>
          <app-sidebar-item>
            <p [style.color]="'black'" [style.font-size.px]="20">
              Classes
            </p>
          </app-sidebar-item>
        </div>
      </a>
    </app-sidebar-item-group>
    <div [style.flex]="2" style="flex-direction: column; justify-content: flex-end; margin-bottom: 20px;">
      <app-sidebar-item-group>
        <a [routerLink]="logoutRoute">
          <app-sidebar-item>
            <p [style.color]="'black'" [style.font-size.px]="20">
              Logout
            </p>
          </app-sidebar-item>
        </a>
      </app-sidebar-item-group>
    </div>
  </app-sidebar-items>
</app-sidebar> -->
