<div class="user-management flex justify-center">
  <div class="text-center">
    <div class="p-4 flex justify-center items-center">
      <h1 class="text-3xl">Users management</h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
      <table class="w-full text-md bg-white shadow-md rounded mb-4">
        <thead>
          <tr class="border-b">
            <th class="text-left p-3 px-5" style="word-spacing: 220px; width: 700px;">Email Class</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of pendingUsers">
          <app-pending-users [user]="user" (accept)="handleAccept(user.classId, user.studentId)"
            (reject)="handleReject(user.classId, user.studentId)">
          </app-pending-users>
        </tbody>
      </table>
    </div>
  </div>
</div>