<!-- navbars.component.html
<div>
  <navbar [style]="navbarStyle">
    <navbar-brand>
      <a routerLink="/home">
        <i class="fas fa-book-open fa-2x me-3" style="color: #ff6219"></i>
        <span class="self-center whitespace-nowrap text-xxl font-semibold dark:text-black" style="color: black; font-size: 24px">
          E-LEARNING
        </span>
      </a>
    </navbar-brand>
    <div class="flex md-order-2">
      <dropdown arrowIcon="false" inline>
        <avatar [alt]="'User settings'" [img]="" rounded style="height: 60px; width: 60px"></avatar>
        <dropdown-header>
          <span class="block text-sm">{{ user.firstName }}</span>
          <span class="block truncate text-sm font-medium">{{ user.email }}</span>
        </dropdown-header>
        <p>Settings</p>
        <dropdown-divider></dropdown-divider>
        <a routerLink="/">
          <span>Sign out</span>
        </a>
      </dropdown>
      <navbar-toggle></navbar-toggle>
    </div>
    <navbar-collapse>
      <span class="flex items-center" style="color: black; font-size: 24px">
        {{ user.role }} dashboard
      </span>
    </navbar-collapse>
  </navbar>
</div> -->
